<div class="main user-show">
  <div class="user-profile" data-user-posts="<%= @user_posts %>">
    <div class="user">
      <img src="<%= "/user_images/#{@user.image_name}" %>">
      <h2><%= @user.name %></h2>
      <% if @user.id == @current_user.id %>
        <div class="profile-update">
          <%= link_to("Update Profile", "/users/#{@user.id}/edit") %>
        </div>
      <% else %>
        <% if Relationship.find_by(follower_id: @current_user.id, followed_id: params[:id]) != nil %>
          <!-- <div class="user-if-follows"><p>follows you</p></div> -->
          <div class="user-follow-button">
            <button>
              <%= link_to "Following", {controller: 'relationships', action: 'delete', id: params[:id]},
                                        method: :post, data: {confirm: "Unfollow this user?"} %>
            </button>
          </div>
        <% elsif Relationship.find_by(follower_id: params[:id], followed_id: @current_user.id) != nil %>
          <!-- <div class="user-if-follows"><p>follows you</p></div> -->
          <div class="user-follow-button">
            <button>
              <%= link_to "Follow Back", {controller: 'relationships', action: 'create', id: params[:id]},
                                          method: :post, data: {confirm: "Follow this user?"} %>
            </button>
          </div>
        <% else %>
          <div class="user-follow-button">
            <button>
              <%= link_to "Follow", {controller: 'relationships', action: 'create', id: params[:id]},
                                     method: :post, data: {confirm: "Follow this user?"} %>
            </button>
          </div>
        <% end %>
      <% end %>
      <p><%= simple_format(@user.short_bio) %></p>
      <p class="user-stats">
        <%= link_to("Posts", "/users/#{@user.id}") %>: <%= @posts_count %> |
        <%= link_to("Likes", "/users/#{@user.id}/mylist") %>: <%= @likes_count %>
      </p>
      <p class="user-stats">
        <% if @user.id == @current_user.id %>
          <%= link_to "Following", controller: 'users', action: 'relationships_following_private' %>: <%= @user_following_count %> |
          <%= link_to "Follower", controller: 'users', action: 'relationships_follower_private' %>: <%= @user_followed_count %>
        <% else %>
          <%= link_to "Following", controller: 'users', action: 'relationships_following' %>: <%= @user_following_count %> |
          <%= link_to "Follower", controller: 'users', action: 'relationships_follower' %>: <%= @user_followed_count %>
        <% end %>
      </p>
    </div>
    <div class="user-activity-graph">
      <% if @user.id == @current_user.id %>
        <p class="graph-title">Your Recent Activity (Posts)</p>
        <p class="graph-descriptions">How Many Words Have You Memorized So Far?</p>
      <% else %>
        <p class="graph-title">Recent Activity (Posts)</p>
      <% end %>
      <%= javascript_include_tag 'user_posts' %>
    </div>
  </div>
  <div class="user-buttons">
    <% if @user.id == @current_user.id %>
      <button><%= link_to("Your Posts", "/users/#{@user.id}") %></button>
    <% else %>
      <button><%= link_to("Posts", "/users/#{@user.id}") %></button>
    <% end %>
    <button><%= link_to("Liked Posts", "/users/#{@user.id}/mylist") %></button>
  </div>
  <div class="container-user">
    <% if @user.posts.length != 0 %>
        <% @user.posts.reverse.each do |post|%>
          <div class="posts-index-item-user">
            <div class="post-left-user">
              <img src="<%= "/user_images/#{post.user.image_name}" %>">
              <div class="post-user-name">
                <%= link_to(post.user.name, "/users/#{post.user.id}") %>
              </div>
            </div>
            <div class="post-right-user">
              <%= link_to(simple_format(post.content), "/posts/#{post.id}") %>
            </div>
            <div class="post-likes-user">
              <% if Like.find_by(user_id: @current_user.id, post_id: post.id) != nil %>
                <%= link_to likes_delete_path(:post_id => post.id, :user_id => params[:id]) do %>
                  <i class="fas fa-thumbs-up liked"></i>
                <% end %>
                <% likes = Like.where(post_id: post.id) %>
                <% num_of_likes = likes.length %>
                <% if num_of_likes != 0 %>
                  <div class="num-of-likes-liked">
                    <%= num_of_likes %>
                  </div>
                <% end %>
              <% else %>
                <%= link_to likes_create_path(:post_id => post.id, :user_id => params[:id]) do %>
                  <i class="fas fa-thumbs-up not-liked"></i>
                <% end %>
                <% likes = Like.where(post_id: post.id) %>
                <% num_of_likes = likes.length %>
                <% if num_of_likes != 0 %>
                  <div class="num-of-likes-not-liked">
                    <%= num_of_likes %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
    <% else %>
      <p>Oops. No posts yet.</p>
    <% end %>
  </div>
</div>
