<div class="main user-show">
  <div class="user-profile">
    <div class="user">
      <img src="<%= "/user_images/#{@user.image_name}" %>">
      <h2><%= @user.name %></h2>
      <p><%= @user.short_bio %></p>
      <% if @user.id == @current_user.id %>
        <%= link_to("Update Profile", "/users/#{@user.id}/edit") %><br>
      <% end %>
    </div>
    <div class="user-activity-graph">

    </div>
  </div>
  <div class="user-buttons">
    <% if @user.id == @current_user.id %>
      <button><%= link_to("Your Posts", "/users/#{@user.id}") %></button>
    <% else %>
      <button><%= link_to("Posts", "/users/#{@user.id}") %></button>
    <% end %>
    <button><%= link_to("Liked Posts", "/users/#{@user.id}/mylist") %></button>
  </div>
  <div class="container-user">
    <% if @user.posts.length != 0 %>
        <% @user.posts.reverse.each do |post|%>
          <div class="posts-index-item-user">
            <div class="post-left-user">
              <img src="<%= "/user_images/#{post.user.image_name}" %>">
              <div class="post-user-name">
                <%= link_to(post.user.name, "/users/#{post.user.id}") %>
              </div>
            </div>
            <div class="post-right-user">
              <%= link_to(simple_format(post.content), "/posts/#{post.id}") %>
              <div class="post-likes-user">
                <% if Like.find_by(user_id: @current_user.id, post_id: post.id) != nil %>
                  <i class="fas fa-thumbs-up liked"></i>
                  <% likes = Like.where(post_id: post.id) %>
                  <% num_of_likes = likes.length %>
                  <% if num_of_likes != 0 %>
                    <%= num_of_likes %>
                  <% end %>
                <% else %>
                  <i class="fas fa-thumbs-up not-liked"></i>
                  <% likes = Like.where(post_id: post.id) %>
                  <% num_of_likes = likes.length %>
                  <% if num_of_likes != 0 %>
                    <%= num_of_likes %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
    <% else %>
      <p>Oops. No posts yet.</p>
    <% end %>
  </div>
</div>
