<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <div class="post-user-name">
        <img src="<%= "/user_images/#{@user.image_name}" %>">
        <%= link_to(@user.name, "/users/#{@user.id}") %>
      </div>
      <p>
        <%= simple_format(@post.content)%>
      </p>
      <% if @tag_bit == 1 %>
        <% @tags_new.each do |tag| %>
          <%= link_to("##{tag.label}", "/tags/#{tag.id}") %>
        <% end %>
      <% end %>
      <div class="post-time">
        <%= @post.created_at%>
      </div>
      <div class="post-menus">
        <%= link_to("Tags", "/posts/#{@post.id}/tags") %>
        <!-- If it's his/her own post, make it editable -->
        <% if @post.user_id == @current_user.id %>
          <%= link_to("Edit", "/posts/#{@post.id}/edit") %>
          <%= link_to("Delete", "/posts/#{@post.id}/delete", {method:"post"}) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
