<div class="main posts-show">
  <div class="container-posts-show">
    <div class="posts-show-item">
      <div class="post-user-name-show">
        <img src="<%= "/user_images/#{@user.image_name}" %>">
        <%= link_to(@user.name, "/users/#{@user.id}") %>
      </div>
      <p>
        <%= simple_format(@post.content)%>
      </p>
      <div class="post-tag">
        <% if @tags.length != 0 %>
          <% @tags.each do |tag| %>
            <%= link_to("##{tag.label}", "/tags/#{tag.group_id}") %>
          <% end %>
        <% end %>
      </div>
      <div class="post-like">
        <% like = Like.find_by(user_id: @current_user.id, post_id: @post.id) %>
        <% likes = Like.where(post_id: @post.id) %>
        <% num_of_likes = likes.length %>
        <% if like != nil %>
          <% like_id = like.id %>
        <% else %>
          <% like_id = 0 %>
        <% end %>
        <!-- See app/javascript/compenents/Like_show.jsx -->
        <%= react_component 'Like_show',
          { user_id: @current_user.id,
            post_id: @post.id,
            like_id: like_id,
            num_of_likes: num_of_likes } %>
      </div>
      <div class="post-time">
        <%= @post.created_at%>
      </div>
      <div class="post-menus">
        <%= link_to("Tags", "/posts/#{@post.id}/tags") %>
        <!-- If it's his/her own post, make it editable -->
        <% if @post.user_id == @current_user.id %>
          <%= link_to("Edit", "/posts/#{@post.id}/edit") %>
          <%= link_to("Delete", "/posts/#{@post.id}/delete", method: :post, data: {confirm: "Are you sure to delete?"}) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
