<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <div class="post-user-name">
        <img src="<%= "/user_images/#{@user.image_name}" %>">
        <%= link_to(@user.name, "/users/#{@user.id}") %>
      </div>
      <p>
        <%= simple_format(@post.content)%>
      </p>
      <div class="post-tag">
        <% if @tags.length != 0 %>
          <% @tags.each do |tag| %>
            <%= link_to("##{tag.label}", "/tags/#{tag.group_id}") %>
          <% end %>
        <% end %>
      </div>
      <div class="post-like">
        <% if Like.find_by(user_id: @current_user.id, post_id: @post.id) != nil %>
          <% likes = Like.where(post_id: params[:id]) %>
          <% num_of_likes = likes.length %>
          <div class="num-of-likes liked">
            <% if num_of_likes != 0 %>
              <%= num_of_likes %>
            <% end %>
          </div>
          <%= link_to likes_delete_path(:id => params[:id]) do %>
            <i class="fas fa-thumbs-up liked"></i>
          <% end %>
        <% else %>
          <% likes = Like.where(post_id: params[:id]) %>
          <% num_of_likes = likes.length %>
          <div class="num-of-likes not-liked">
            <% if num_of_likes != 0 %>
              <%= num_of_likes %>
            <% end %>
          </div>
          <%= link_to likes_create_path(:id => params[:id]) do %>
            <i class="fas fa-thumbs-up not-liked"></i>
          <% end %>
        <% end %>
      </div>
      <div class="post-time">
        <%= @post.created_at%>
      </div>
      <div class="post-menus">
        <%= link_to("Tags", "/posts/#{@post.id}/tags") %>
        <!-- If it's his/her own post, make it editable -->
        <% if @post.user_id == @current_user.id %>
          <%= link_to("Edit", "/posts/#{@post.id}/edit") %>
          <%= link_to("Delete", "/posts/#{@post.id}/delete", {method:"post"}) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
