<!DOCTYPE html>
<html>
  <head>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <title>TELOS</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <div class="header-title">
        <%= link_to("TELOS", "/") %>
      </div>
      <div class="header-about">
        <p>|</p>
        <%= link_to("About", "/about") %>
      </div>
      <ul class="header-menus">
        <% if @current_user %>
          <li>
            <p>Welcome,&nbsp</p>
            <%= link_to(@current_user.name, "/users/#{@current_user.id}") %>
            <p>!</p>
          </li>
          <li>
            <a href="/users/index"><i class="fa fa-users"></i></a>
          </li>
          <li>
            <a href="/posts/index"><i class="fa fa-book"></i></a>
          </li>
          <li>
            <a href="/tags/index"><i class="fa fa-tags"></i></a>
          </li>
          <li>
            <a href="/posts/new"><i class="fa fa-edit"></i></a>
          </li>
          <li>
            <%= link_to("Logout", "/logout", {method: :post}) %>
          </li>
        <% else %>
          <li>
            <%= link_to("Sign Up", "/signup") %>
          </li>
          <li>
            <%= link_to("Login", "/login") %>
          </li>
        <% end %>
      </ul>
    </header>
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice]%>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
