<!DOCTYPE html>
<html>
  <head>
    <title>TELOS</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <header>
      <div class="header-title">
        <%= link_to("TELOS", "/") %>
      </div>
      <p class="header-partition">|</p>
      <div class="header-about">
        <%= link_to("About", "/about") %>
      </div>
      <ul class="header-menus">
        <% if @current_user %>
          <li class="logged-in">
            <a href="<%= "/users/#{@current_user.id}" %>">
              <img src="<%= "/user_images/#{@current_user.image_name}" %>">
            </a>
          </li>
          <% if request.original_fullpath.split('?').first == "/users/index" %>
            <li class="logged-in">
              <%= form_tag("/users/index", method: :get) do %>
                <input name = "key">
                <input type = "submit" value = "Search">
              <% end %>
            </li>
          <% elsif request.original_fullpath.split('?').first == "/posts/index" %>
            <li class="logged-in">
              <%= form_tag("/posts/index", method: :get) do %>
                <input name = "key">
                <input type = "submit" value = "Search">
              <% end %>
            </li>
          <% elsif request.original_fullpath.split('?').first == "/tags/index" %>
            <li class="logged-in">
              <%= form_tag("/tags/index", method: :get) do %>
                <input name = "key">
                <input type = "submit" value = "Search">
              <% end %>
            </li>
          <% end %>
          <li class="logged-in">
            <a href="/users/index"><i class="fa fa-users"></i></a>
          </li>
          <li class="logged-in">
            <a href="/posts/index"><i class="fa fa-book"></i></a>
          </li>
          <li class="logged-in">
            <a href="/tags/index"><i class="fa fa-tags"></i></a>
          </li>
          <li class="logged-in">
            <a href="/posts/new"><i class="fa fa-edit"></i></a>
          </li>
          <li class="logged-in"><%= link_to("Logout", "/logout", {method: :post}) %></li>
        <% else %>
          <li class="not-logged-in">
            <%= link_to("Sign Up", "/signup") %>
          </li>
          <li class="not-logged-in">
            <%= link_to("Login", "/login") %>
          </li>
        <% end %>
      </ul>
      <i class="fa fa-bars" aria-hidden="true"></i>
      <%= javascript_include_tag 'header_menu' %>
    </header>
    <% if flash[:notice] %>
      <div class="flash-box">
        <div class="flash"><%= flash[:notice]%></div>
        <div class="flash-close">×</div>
        <%= javascript_include_tag 'close_flash' %>
      </div>
    <% end %>
    <%= yield %>
    <!-- <footer><hr></footer> -->
  </body>
</html>
